#mapid{
    width: 800px;
    height: 550px;
    position: relative;
    left: 5%;
}

.main{
    position: absolute;
    left: 250px;
    background-color: rgb(230, 230, 250);
    text-align: center;
    width: 900px;
    height: 105%;
}



